@use "../base/typographys";

$font-source: "Source Sans Pro Regular", serif;
$font-source-bold: "Source Sans Pro Bold", serif;

$color-primary: rgb(164, 164, 164);
$color-secondary: rgba(35, 35, 35, 0.19);
$color-accent: rgb(231, 49, 49);

$color-white: #Fafdff;
$color-black: #080606;

$color-overlay: rgba(0, 0, 0, 0.5);